Learning Goal: I'm working on a operating systems project and need support to help me learn.

Implement Matrix multiplication using:

1. Python no threads.

2. Python with threads.

3. C no threads

4. C with POSIX threads (compile with Ipthread)

5. with openMP (compile with -fopenmp)

The program should read in the size of the array and generate it at random.

compare the time of the different implementations for different array sizes and experiment with the number of threads.

what to submit

your source code

a shell script to compile and execute your programs

note

to know the number of max threads: you can use the parameter PTHREAD_THREADS_MAX

to know how many cores you have on a machine in C: you can use sysconf (_SC_NPROCESSORS_ONLN)

Requirements: long   |   .doc file